body#paraimprimir {
	background: none;
}

body#paraimprimir div#header {
	background: none;
	color: black;
	text-align: left;
}

body#paraimprimir div#footer {
	background: none;
	color: black;
	text-align: left;
}

body#paraimprimir div#container {
	max-width: none;
}

body#paraimprimir div#content {
	margin: auto;
}

body#paraimprimir th a {
	color: black;
}

body#paraimprimir a#avisoimprimir {
	visibility: hidden;
}
